<h1>Create A New Trip</h1> 

<%= form_for :trip, url: user_trips_path do |f| %>
   
<h2>Choose A State</h2>
    <%= f.collection_select :state, State.all, :id, :name %> 
    <br/>
    <br/>

<h2>Choose An Attraction</h2>  
    <%= f.fields_for :state_attributes do |state_attr| %>

    <%= state_attr.collection_select :attraction_id %>
    <%= f.submit "Select"  %>
<% end %>

