</br>
</br>
</br>
<h4>Create A New Trip</h4> 

<%= form_for(@trip) do |f| %>
    
    <%= f.label :state_id, "Select a State" %>
    <%= f.collection_select :state_id, State.all, :id, :name, :include_blank => false %>
    <br/>
    <br/>
    <%= f.label :attraction %>
    <%= f.text_field :attraction %>
    <br/>
    <br/>
    <%= f.submit %>
  <% end %>