</br>
</br>
</br>
</br>
<h3>Welcome Back!</h3>
<hr>
<%= form_for :user do |f| %>

  <% if flash[:notice] %> 
      <div class="notice"><%= flash[:notice] %></div>
  <% end %> 


  </br>
    <%= f.text_field :email, placeholder: "Email", :class => 'form-control' %></br>
    <%= f.password_field :password, placeholder: "Password", :class => 'form-control'  %><br><br>
    <%= f.submit "Sign In", :class => 'btn btn-block btn-success' %><br>
  <% end %>






