</br>
</br>
</br>
</br>
<h3>Create A New Attraction</h3> 
<hr>
<%= form_for(@attraction) do |f| %>

  <%= render partial: 'layouts/errors', locals: {object: @attraction} %>

  <%= f.label :name %>
  <%= f.text_field(:name, {:class => 'form-control'}) %> 
  <br/>
  <br/>
  <%= f.label :location %> 
  <%= f.text_field(:location, {:class => 'form-control'}) %> 
  <br/>
  <br/> 
  <%= f.label :state_id, "State" %>
  <%= f.collection_select :state_id, State.order('name ASC'), :id, :name, prompt: true %>
  <hr>
  <%= f.submit "Create Attraction", :class => 'btn btn-sm btn-success' %>
<% end %>

