</br>
</br>
</br>
 <h3><%= @attraction.name %></h3>
</br>
 <h4><%= @attraction.location %></h4>
 </br>
 <h4><%= @attraction.state.name %></h4> 
</br>
<%= link_to "See Attraction Comments", attractions_path(@attraction) %>
<hr> 
<%= link_to "See Your List", attractions_path(@attraction), :class => 'btn btn-sm btn-primary' %>
</br>
</br>
<%= link_to "Edit Attraction", edit_attraction_path(@attraction), :class => 'btn btn-sm btn-primary btn-rounded' %> 
</br>
</br>
<%= link_to "Delete Attraction", attraction_path(@attraction), 
                        method: :delete, 
                        data: {confirm: 'Are you sure?'},
                        :class => 'btn btn-sm btn-primary btn-rounded' %> 


